<p style="color: green"><%= notice %></p>

  <p>
    <strong>Emai:</strong>
    <%= @user.email %>
  </p>

<div>
  <%= link_to "Back to Users", users_path %>
<% if current_user.role == "admin" %>
  <%= button_to "Destroy this User", @user, method: :delete %>
<% end %>
  
</div>
